@import './colors';
@import './buttons';
@import './modal';

$headerHeight: 4em;

.app-header {
  margin-bottom: $headerHeight;
}
.page-content {
  margin-top: $headerHeight;
}

// containers
.container {
  &.categories,
  &.content {
    padding: 10px;
  }
}

.title {
  color: $grey;
}

.categories__title {
  margin-bottom: 1em;
}

.header-category {
  flex: 1;
  display: inline-block;
  text-align: center;
}

.page-header {
  display: flex;
  padding-bottom: 1em;
  flex-direction: column;

  &__content {
    display: flex;
    border-bottom: 1px dotted $grey;
    padding-bottom: 1em;
  }
  &__title {
    flex: 1;
    color: $grey;
    margin: 0.5rem 0 0;

    /* override because of semantic ui, sigh */
    &.ui.header {
      margin: 0.5rem 0 0;
    }
  }
  &__sort-controls {
    text-align: right;
    padding-top: 1em;

    .controls-label {
      display: inline-block;
      padding-right: 20px;
    }
  }

  &.post-detail-view__header {
    .row & {
      padding-bottom: 0;
    }
  }
}

.sort-by-controls {
  &__label {
    border-left: none !important; /* naughty, but neccesary :)  */
  }
}

.post-content {
  &__header {
    padding: 1em 0;
  }

  &__meta {
    padding: 0.25em 0;

    span {
      &:after {
        content: '|';
        padding: 0 1em;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }

  &__description {
    padding-bottom: 1em;

    p {
      font-size: 1.25em;
      line-height: 1.5em;
    }
  }

  &__extra {
    padding-top: 1em;
  }
}

.post-comment {
  padding: 1em 0;

  &__title {
    border-bottom: 1px dotted $grey;
    padding-bottom: 1em;
  }
  .form {
    padding-top: 1em;
  }

  &__content {
    border-bottom: 1px dotted;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: $grey;
  }
}

// Edit
.edit-comment {
  &--active {
    display: inline-block;
    margin: 0 0.75em 0 0;
    text-decoration: none;
  }
}

// Reactions
.button-action {
  cursor: pointer;
  outline: none;
}
.reaction {
  // Overrides for sematic ui
  &.ui.label {
    border: 0;
    background-color: transparent;
  }

  &--comment {
    &.ui.label {
      padding-left: 0;
    }
  }

  &__button {
    border: none;
    background: transparent;
    @extend .button-action;
  }
}

// Menu

// .category-menu {
//   .active.item {
//     background: $pink !important;
//   }
// }

// layout helpers
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.float-right {
  float: right;
}

// utils
.loading {
  margin: 2em auto;
}
.back-link {
  cursor: pointer;
  color: $grey;
  font-size: 1.25em;

  &:hover {
    color: $grey;
  }
}

// Overrides for sematic ui
@media only screen and (max-width: 767px) {
  .ui.container {
    margin-left: 0 !important; /*Naughty, I know, I know... sigh!*/
    margin-right: 0 !important;

    &.content {
      padding: 0;
    }
    &.detail-view {
      padding: 1em;
    }
  }
}
