@import './colors';
@import './buttons';

.app {
  text-align: center;
}

// containers

.container {
  &.categories,
  &.content {
    padding: 10px;
  }
}

.title {
  color: $grey;
}

.page-header {
  display: flex;
  padding-bottom: 20px;

  &__title {
    flex: 0;
  }
  &__sort-controls {
    flex: 1;
    text-align: right;

    .controls-label {
      display: inline-block;
      padding-right: 20px;
    }
  }
}

// layout helpers
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}
