@import './colors';
@import './buttons';

$headerHeight: 4em;

.app-header {
  margin-bottom: $headerHeight;
}
.page-content {
  margin-top: $headerHeight;
}

// containers
.container {
  &.categories,
  &.content {
    padding: 10px;
  }
}

.title {
  color: $grey;
}

.categories__title {
  margin-bottom: 1em;
}

.page-header {
  display: flex;
  padding-bottom: 1em;
  flex-direction: column;

  &__title {
    border-bottom: 1px dotted $grey;
    padding-bottom: 1em;
  }
  &__sort-controls {
    text-align: right;
    padding-top: 1em;

    .controls-label {
      display: inline-block;
      padding-right: 20px;
    }
  }
}

.post-content {
  &__header {
    padding: 1em 0;
  }
  &__meta {
    padding: 0.25em 0;

    span {
      &:after {
        content: '|';
        padding: 0 1em;
      }
      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
  &__description {
    padding: 1em 0;

    p {
      font-size: 1.25em;
      line-height: 1.5em;
    }
  }

  &__extra {
    padding-top: 1em;
  }
}

.post-comment {
  padding: 1em 0;

  &__title {
    border-bottom: 1px dotted $grey;
    padding-bottom: 1em;
  }
  .form {
    padding-top: 1em;
  }
}

// layout helpers
.align-center {
  text-align: center;
}
.align-left {
  text-align: left;
}

// utils
.loading {
  margin: 2em auto;
}
.back-link {
  cursor: pointer;
  color: $grey;
  font-size: 1.25em;

  &:hover {
    color: $grey;
  }
}
